{% extends 'base.html' %}

{% block title %}Categories{% endblock title %}

{% block content %}
<main>
    <h1>My Expenses</h1>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Number of receipts</th>
        </tr>
      </thead>
      <tbody>
        {% for info in category_list %}
        <tr>
          <td>{{ info.name }}</td>
          <td>{{ info.receipts.all|length }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </main>
  {% endblock content %}
